---

---

<header class="header">
    <h1>MediaLab</h1>
    <nav class="header__nav">
        <ul class="nav__menu">
            <li class="menu__item">Beneficios</li>
            <li class="menu__item">Planes</li>
            <li class="menu__item">Contacto</li>
        </ul>
    </nav>
    <button>Login</button>
</header>